
<div class="about">

  <h2>Firebase & AngularFire In Depth</h2>

  <img class="course-image mat-elevation-z10"
       src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/firebase-course-1.jpg">


    <button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button>

    <button mat-raised-button color="accent" (click)="onReadDoc()">Read Document</button>

    <button mat-raised-button color="accent" (click)="onReadTopLevelCollection()">Read Top-Level Collection</button>

    <button mat-raised-button color="accent" (click)="onReadNestedCollection()">Read Nested Collection</button>

    <button mat-raised-button color="accent" (click)="onReadFilteredNestedCollection()">Read Filtered Nested Collection</button>

    <button mat-raised-button color="accent" (click)="onReadFilteredCollectionWithCombinedIndex()">Read Filtered Collection With Combined Index</button>

    <button mat-raised-button color="accent" (click)="onReadCollectionGroup()">Read Collection Group</button>

    <button mat-raised-button color="accent" (click)="onReadDocUsingSnapshotChanges()">Read Document using SnapshotChanges</button>
</div>


